body {
  /* color: #DDD !important;*/
}

a {
  color: #4a90e2 !important;
  text-decoration: none !important;
}

a:hover, .a:focus {
  color: #377ccc !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

h2 {
	margin-top: 30px !important;
}

.div-main {
	width: 100%;
	text-align: center;
}

.title-text {
	width: 95%;
	margin: 0 auto;
}

.div-system {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.div-system-group {
	width: 37%;
	text-align: center;
	display: inline-block;
	margin-top: 20px !important;
}

.div-system-group-c {
	width: 26%;
	text-align: center;
	margin-top: 20px !important;
}

.div-float {
	width: 48%;
	text-align: center;
	display: inline-block;
  margin-bottom: 30px;
}

.div-graph {
	width: 100%;
	height: 17vh;
	text-align: center;
	display: inline-block;
}

.div-graph-data {
	width: 100%;
	height: calc(100% - 15px);
	text-align: center;
	display: inline-block;
	margin-top: 10px;
}

.div-header {
	width: 100%;
	height: 15px;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
}

.title {
  cursor: pointer;
  font-weight: bold;
}

div.ui-tooltip {
  max-width: 500px !important;
  background: #DDD !important;
  color: #333 !important;
  position: absolute !important;
  z-index: 9999 !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  padding: 5px 10px !important;
}

.dataTables_filter input {
  height: 28px;
}

.table tbody {
  text-align: left;
}

.table {
  width: 100%;
}

.table-info span {
  font-size: 1.25em;
}

.section {
    height: 1px;
    width: 100%;
    background-color: #333;
    display: inline-block;
}

.monitors-wrapper {
  margin: 0 auto;
  width: 95%;
}

.div-footer {
	margin-top: 20px;
	margin-bottom: 10px;
	width:100%;
	text-align:center;
	display: inline-block;
}

.footer-text {
	font-size: 1.1em;
}

.link-span {
  color: #4a90e2;
  text-decoration: none;
}

.link-span:hover, .link-span:focus {
  color: #377ccc;
  text-decoration: underline;
  cursor: pointer;
}

.link-span:active, .link-span:hover {
    outline: 0;
}

.link-span:hover {
  text-decoration: underline;
}

/* Hide default tooltip */
.ui-helper-hidden-accessible {
  display: none;
}

@media only screen and (max-width: 1000px) {
	.div-float {
		width: 100%;
	}

	h5 {
                margin-top: 15px !important;
                font-size: 0.8em !important;
        }

	.div-system-group {
		width: 90%;
	}

	.div-system-group-c {
		width: 70%;
	}

	.left, .right {
		margin: 0 auto;
		float: none;
	}
	.footer-text {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 800px) {
	h1 {
		font-size: 1.8em !important;
	}

	h2 {
		margin-top: 15px !important;
		font-size: 1.5em !important;
	}
  	h5 {
		margin-top: 15px !important;
		font-size: 0.6em !important;
	}

	.div-header {
		height: 12px !important;
		margin-top: 12px !important;
	}

	.div-system-group {
		margin-top: 10px !important;
	}

	.div-system-group-c {
		margin-top: 10px !important;
	}
	.table-info span {
  		font-size: 0.8em;
	}
}

/********************************************************************************************************************************************
	Modal content
********************************************************************************************************************************************/
.public_link_copy {
	padding:5px;
	width:100%;
	margin:10px 0 !important;
}

.public_link_modal {
  font-family: 'NotoSans Regular';
}

.public_link_modal .copied {
  display:none;
  padding:5px;
  margin:6px 0;
  color:#849F4F;
  background:#ECF5DA;
  border:1px solid #B1C786;
}

.public_link_modal .copied_not {
  display:none;
  padding:5px;
  margin:6px 0;
  color:#B94A48;
  background:#F2DEDE;
  border:1px solid #EED3D7;
}

.donation-qr {
  width: 150px;
  margin: 0;
}

.form-group {
  margin-bottom: 10px !important;
}

/* ---------- */
.modal_overlay {
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(img/modal-bg.png);
	text-align:center;
	z-index:2000;
	opacity:.9;
}

.modal_psend {
	display:none;
	position: fixed;
	top: 50%;
	left: 50%;
	float: left;
	z-index:5000;

	width:400px;
	height:380px;
	margin:-170px 0 0 -200px;
	background:white;
	color:black;

  border-radius: 7px;
  box-shadow: 0 0 23px, rgba(0, 0, 0, .3);
}

.modal_content {
	margin:15px;
}

.loading-img {
	text-align:center;
}

.modal_content p.loading-img {
	margin:40px auto;
	text-align:center;
}

.modal_content iframe {
	display:none;
}

.modal_title {
	text-align:left;
	position:relative;
	padding:10px;
	background:#eee;
	background:-moz-linear-gradient(top , #f5f5f5, #eee)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee))!important;
	/*text-shadow:0 1px 1px #eee;*/
	color:#888;

	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;

}

.modal_title	a {
  position:absolute;
  display:inline-block;
  top:-2px;
  right:10px;
}

.modal_close {
	color:#888;
	font-size:2em;
}
